<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Historial de Asistencia
        <div class="subtitle">{{ nombreAsignatura }}</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-card *ngFor="let registro of historial" class="custom-card">
      <ion-card-content>
        <h2>{{ registro.clase }}</h2>
        <p>Estado: 
          <span [class.ausente]="registro.estado === 'Ausente'" 
                [class.presente]="registro.estado === 'Presente'">
            {{ registro.estado }}
          </span>
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
