<ion-content>
  <div class="background-circles">
    <div class="circle top-left"></div>
    <div class="circle bottom-right"></div>
  </div>

  <!-- Contenedor del formulario -->
  <div class="login-container">
    <!-- Imagen del logo -->
    <img src="assets/Images/LOGO.png" alt="Logo" class="login-logo" />
    
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="onSubmit()">Iniciar Sesión</ion-button>
    <ion-button expand="full" (click)="recoverPassword()">Recuperar Contraseña</ion-button>
  </div>
</ion-content>
