<ion-header>
  <ion-toolbar>
    <ion-title>Crear Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Nombre de la asignatura -->
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="asignatura.nombre"></ion-input>
  </ion-item>

  <!-- Sección -->
  <ion-item>
    <ion-label position="stacked">Sección</ion-label>
    <ion-input [(ngModel)]="asignatura.seccion"></ion-input>
  </ion-item>

  <!-- Tipo de Clase -->
  <ion-item>
    <ion-label position="stacked">Tipo de Clase</ion-label>
    <ion-select [(ngModel)]="asignatura.tipoClase">
      <ion-select-option value="teorica">Teórica</ion-select-option>
      <ion-select-option value="practica">Práctica</ion-select-option>
      <ion-select-option value="mixta">Mixta</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Horarios de Teoría -->
  <div *ngIf="asignatura.tipoClase === 'teorica' || asignatura.tipoClase === 'mixta'">
    <ion-item>
      <ion-label position="stacked">Hora Inicio (Teórica)</ion-label>
      <ion-datetime [(ngModel)]="asignatura.horarios.teorica.horaInicio" presentation="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora Fin (Teórica)</ion-label>
      <ion-datetime [(ngModel)]="asignatura.horarios.teorica.horaFin" presentation="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Salas (Teórica)</ion-label>
      <ion-input [(ngModel)]="asignatura.horarios.teorica.salas[0]"></ion-input>
    </ion-item>
  </div>

  <!-- Horarios de Práctica -->
  <div *ngIf="asignatura.tipoClase === 'practica' || asignatura.tipoClase === 'mixta'">
    <ion-item>
      <ion-label position="stacked">Hora Inicio (Práctica)</ion-label>
      <ion-datetime [(ngModel)]="asignatura.horarios.practica.horaInicio" presentation="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora Fin (Práctica)</ion-label>
      <ion-datetime [(ngModel)]="asignatura.horarios.practica.horaFin" presentation="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Salas (Práctica)</ion-label>
      <ion-input [(ngModel)]="asignatura.horarios.practica.salas[0]"></ion-input>
    </ion-item>
  </div>

  <!-- Selección de días -->
  <ion-item *ngIf="asignatura.tipoClase !== 'mixta'">
    <ion-label position="stacked">Días</ion-label>
    <ion-select [(ngModel)]="asignatura.dias" multiple="true">
      <ion-select-option *ngFor="let dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']">
        {{ dia }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Días separados para clases mixtas -->
  <div *ngIf="asignatura.tipoClase === 'mixta'">
    <ion-item>
      <ion-label position="stacked">Día Teórica</ion-label>
      <ion-select [(ngModel)]="diasTeorica" interface="popover">
        <ion-select-option *ngFor="let dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']">
          {{ dia }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Día Práctica</ion-label>
      <ion-select [(ngModel)]="diasPractica" interface="popover">
        <ion-select-option *ngFor="let dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']">
          {{ dia }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- Alumnos -->
  <ion-item>
    <ion-label position="stacked">Alumnos</ion-label>
    <ion-select [(ngModel)]="alumnosSeleccionados" multiple="true">
      <ion-select-option *ngFor="let alumno of listaAlumnos" [value]="alumno.uid">
        {{ alumno.nombre }} {{ alumno.apellido }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón para crear asignatura -->
  <ion-button expand="block" (click)="crearAsignatura()">Crear Asignatura</ion-button>
</ion-content>
