<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="mensajeError" class="error-message">
    {{ mensajeError }}
  </div>

  <ion-list *ngIf="!mensajeError && historial.length > 0">
    <ion-item-group *ngFor="let clase of historial">
      <ion-item>
        <ion-label>
          <h2>{{ clase.id }} - {{ clase.fecha }}</h2>
        </ion-label>
        <ion-button expand="block" (click)="toggleMenu(clase)">
          Ver Asistencia
        </ion-button>
      </ion-item>
      <ion-list *ngIf="clase.visible">
        <ion-item *ngFor="let estudiante of clase.estudiantes">
          <ion-label>
            <p>{{ estudiante.nombre }} - {{ estudiante.estado }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-item-group>
  </ion-list>
</ion-content>
